body {
  margin: 0px;
  padding: 0px;
  background-image: url(../../public/img/piano-fondo.jpg);
  background-size: cover; }

.home-main {
  margin: 120px; }
  .home-main .titular {
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s; }
    .home-main .titular:hover {
      color: orangered; }
  .home-main .logo-grande {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s; }
    .home-main .logo-grande:hover {
      transform: scale(1.1); }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem; }
  footer div p {
    color: white;
    font-family: 'Roboto', sans-serif; }
  footer div ul {
    margin: 0px;
    padding: 0px;
    display: flex; }
    footer div ul li {
      list-style-type: none; }
      footer div ul li a {
        text-decoration: none;
        color: white;
        padding: 1rem;
        display: block;
        transition: .5s;
        font-family: 'Roboto', sans-serif; }
        footer div ul li a:hover {
          color: orangered; }

@media (max-width: 800px) {
  body {
    background-image: url(../../public/img/piano-fondo-mobile.jpg); }
  main .titular {
    font-size: x-small; }
  .footer-pagina .redes-footer ul {
    display: none; }
  .footer-pagina .copyright-footer p {
    justify-content: center;
    align-items: center;
    display: flex; } }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white; }
  .navbar-links ul {
    margin: 0px;
    padding: 0px;
    display: flex; }
  .navbar-links li {
    list-style-type: none; }
  .navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    transition: .5s;
    font-family: 'Bebas Neue', cursive; }
    .navbar-links li a:hover {
      color: orangered;
      background-color: #323232; }

.brand-title {
  margin: .5rem; }

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px; }
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px; }

@media (max-width: 800px) {
  .toggle-button {
    display: flex; }
  .navbar {
    flex-direction: column;
    align-items: flex-start; }
    .navbar-links {
      display: none;
      width: 100%; }
      .navbar-links ul {
        flex-direction: column;
        width: 100%; }
      .navbar-links li {
        text-align: center; }
        .navbar-links li a {
          padding: .5rem 1rem; }
        .navbar-links li.active {
          display: flex; } }

.nov-main .titular {
  font-family: 'Bebas Neue', cursive;
  font-size: xx-large;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s; }
  .nov-main .titular:hover {
    color: orangered; }

.nov-main .articulos {
  color: white; }
  .nov-main .articulos .titulo-art {
    font-family: 'Bebas Neue', cursive; }
  .nov-main .articulos .cuerpo-art {
    font-family: 'Roboto', sans-serif; }

.seccion-about .titular-about h1 {
  font-family: 'Bebas Neue', cursive;
  color: white;
  transition: .5s; }
  .seccion-about .titular-about h1:hover {
    color: orangered; }

.seccion-about .parrafo-about p {
  font-family: 'Roboto', sans-serif;
  color: white; }

.main-servicios .encabezado {
  font-family: 'Bebas Neue', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: .5s; }
  .main-servicios .encabezado:hover {
    color: orangered; }

.main-servicios .texto-info p {
  font-family: 'Roboto', sans-serif;
  display: block;
  text-align: center;
  color: white; }

.main-servicios .titular-serv {
  font-family: 'Bebas Neue', cursive;
  color: orange; }

.main-servicios .texto-serv {
  font-family: 'Roboto', sans-serif;
  color: white; }

.main-servicios .llamado {
  font-family: 'Bebas Neue', cursive;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main-servicios .llamado a {
    text-decoration: none;
    color: orangered;
    transition: .5s; }
    .main-servicios .llamado a:hover {
      background-color: white; }

.formulario-contacto .titular-contacto h1 {
  display: flex;
  font-family: 'Bebas Neue', cursive;
  justify-content: center;
  align-items: center;
  color: white;
  transition: .5s; }
  .formulario-contacto .titular-contacto h1:hover {
    color: orangered; }

.formulario-contacto .fuente-form {
  font-family: 'Roboto', sans-serif; }

* {
  box-sizing: border-box; }
