body {
  margin: 0px;
  padding: 0px;
  background-image: url(../../public/img/piano-fondo.jpg);
  background-size: cover; }

main {
  margin: 120px; }
  main .titular {
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s; }
    main .titular:hover {
      color: orangered; }
  main .logo-grande {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s; }
    main .logo-grande:hover {
      transform: scale(1.2); }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem; }
  footer div p {
    color: white;
    font-family: 'Roboto', sans-serif; }
  footer div ul {
    margin: 0px;
    padding: 0px;
    display: flex; }
    footer div ul li {
      list-style-type: none; }
      footer div ul li a {
        text-decoration: none;
        color: white;
        padding: 1rem;
        display: block;
        transition: .5s;
        font-family: 'Roboto', sans-serif; }
        footer div ul li a:hover {
          color: orangered; }

@media (max-width: 800px) {
  body {
    background-image: url(../../public/img/piano-fondo-mobile.jpg); }
  main .titular {
    font-size: x-small; }
  main .logo-grande {
    max-width: 300px; }
  footer div ul {
    display: none; }
  footer div p {
    justify-content: center; } }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white; }
  .navbar-links ul {
    margin: 0px;
    padding: 0px;
    display: flex; }
  .navbar-links li {
    list-style-type: none; }
  .navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    transition: .5s;
    font-family: 'Bebas Neue', cursive; }
    .navbar-links li a:hover {
      color: orangered;
      background-color: #323232; }

.brand-title {
  margin: .5rem; }

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px; }
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px; }

@media (max-width: 800px) {
  .toggle-button {
    display: flex; }
  .navbar {
    flex-direction: column;
    align-items: flex-start; }
    .navbar-links {
      display: none;
      width: 100%; }
      .navbar-links ul {
        flex-direction: column;
        width: 100%; }
      .navbar-links li {
        text-align: center; }
        .navbar-links li a {
          padding: .5rem 1rem; }
        .navbar-links li.active {
          display: flex; } }

* {
  box-sizing: border-box; }
