body{
    margin: 0px;
    padding: 0px;
    background-image: url(../../public/img/piano-fondo.jpg);
    background-size: cover;
}

main{
    margin: 120px;
    & .titular{
        font-family: 'Bebas Neue', cursive;
        font-size: xx-large;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;

        &:hover{
            color: orangered;
        }
    }
    & .logo-grande{
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
        &:hover{
            transform: scale(1.2);
        }
    }
}

@media (max-width: 800px){
    main .titular{
        font-size: x-small;
    }

    main .logo-grande{
        max-width: 300px;
    }
}