@import "secciones/variables.scss";

body{
    margin: 0px;
    padding: 0px;
    background-image: url(../public/img/piano-fondo.jpg);
    background-size: cover;

    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
         }
    }
}

.home-main{
    margin: 120px;
    & .titular{
        font-family: $font-main;
        font-size: xx-large;
        color: $color-main;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
        animation-duration: 1s;
        animation-name: slidein;

        @keyframes slidein {
            from {
              margin-left: 100%;
              width: 300%
            }
          
            to {
              margin-left: 0%;
              width: 100%;
            }
          }

        &:hover{
            color: $color-secondary;
        }
    }
    & .logo-grande{
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
        animation-duration: 1s;
        animation-name: slidein;

        @keyframes slidein {
            from {
              margin-right: 100%;
                width: 300%
            }
          
            to {
                margin-right: 0%;
                width: 100%;
            }
          }
        
        &:hover{
            transform: scale(1.1);
        }
    }
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    & div p{
        color: $color-main;
        font-family: $font-secondary;
    }
    & div ul{
        margin: 0px;
        padding: 0px;
        display: flex;
        & li{
            list-style-type:none;
            & a{
                text-decoration: none;
                color: $color-main;
                padding: 1rem;
                display: block;
                transition: .5s;
                font-family: $font-secondary;
                &:hover{
                    color: $color-secondary;
                }
            }
        }
    }
    
}


// MEDIA QUERIES
@media (max-width: $width-mobile){
    body{
        background-image: url(../public/img/piano-fondo-mobile.jpg);
    }

    main .titular{
        font-size: x-small;
    }

    .footer-pagina{
        & .redes-footer ul{
            display: none;
        }

        & .copyright-footer p{
            justify-content: center;
            align-items: center;
            display: flex;
        }
    }
}