.formulario-contacto{
    & .titular-contacto h1{
        display: flex;
        font-family: 'Bebas Neue', cursive;
        justify-content: center;
        align-items: center;
        color: white;
        transition: .5s;
        &:hover{
            color: orangered;
        }
    }
    & .fuente-form{
        font-family: 'Roboto', sans-serif;
    }
}