@import "secciones/variables.scss";

.formulario-contacto{
    & .titular-contacto h1{
        display: flex;
        font-family: $font-main;
        justify-content: center;
        align-items: center;
        color: $color-main;
        transition: .5s;
        &:hover{
            color: $color-secondary;
        }
    }
    & .fuente-form{
        font-family: $font-secondary;
    }
}