@import "secciones/variables.scss";

.seccion-about{
    & .titular-about h1{
        font-family: $font-main;
        color: $color-main;
        transition: .5s;
        &:hover{
            color: $color-secondary;
        }
    }
    & .parrafo-about p{
        font-family: $font-secondary;
        color: $color-main;
    }
}