@import "secciones/variables.scss";

.seccion-about{
    & .titular-about{
        font-family: $font-main;
        color: $color-main;
        transition: .5s;
        &:hover{
            color: $color-secondary;
        }
    }
    & .parrafo-about p{
        font-family: $font-secondary;
        color: $color-main;
    }
}

.caption-foto-car{
    font-family: $font-main;
    text-shadow: 2px 2px $color-third;
    color: $color-main;
    font-size: xx-large;
}