@import "secciones/variables.scss";

.nov-main{
    & .titular{
        font-family: $font-main;
        font-size: xx-large;
        color: $color-main;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
        &:hover{
            color: $color-secondary;
        }
    }
    & .articulos{
        color: $color-main;
        & .titulo-art{
            font-family: $font-main;
        }
        & .cuerpo-art{
            font-family: $font-secondary;
        }
    }
}